@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{

    /* Repeated Colors */
    --primary-color: #43484c;
    --secondary-color: #FFFFFF;
    --accent-color: #f06414;
    --secondary-accent-color: #218ffe;
    --black: #3a3a3a;
    --background-primary-colour: rgba(67, 72, 76, .6)
}

/* General Styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: var(--secondary-color);
}

hr{
    border-top: 1px solid var(--accent-color);
    border-radius: 5px;
}


/* Header Styling */

header{
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 1px var(--black);
}

header a{
    text-decoration: none;
    color: var(--secondary-color);
    
}

#menu{
    font-size: 60%;
    letter-spacing: 4px;
    list-style-type: none;
    
}

#menu > li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid var(--accent-color);
}

.overwatch-two{
    color: var(--accent-color);
}

#sign-up{
    color: var(--secondary-color);
    border: 1px solid var(--accent-color);
    border-radius: 0px 5px;
}

/* Navbar And Dropdown Styling */
nav{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 1px var(--black);
    background-color: var(--primary-color);
}

/* Nav Toggle */
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

/* Main Styling */
main{
    flex: 1 0 auto;
    margin-top: 38px;
    
}

iframe{
    font-size: 10%;
}

/* Hero Section */
#hero{
    height: 350px;
    width: 100%;
    background:url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text{
    background-color: var(--background-primary-colour);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    padding-left: 10px;
    border-radius: 1%;
}

.introduction {
    padding: 10px 0;
    text-align: center;
    background-color: #fff;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  .introduction h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .introduction p {
    font-size: 12px;
    line-height: 1.6;
    color: var(--primary-color);
  }

/* Hero Image Carousel */
.hero-container{
    padding: 0.5rem;
    text-align: center;
}

.hero-container h2{
    color: var(--primary-color);
    text-align: center;
    font-size: 24px;
}

.hero-container p{
    font-size: 12px;
    padding-bottom: 8px;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.3rem;
    border: 1px var(--accent-color);
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 100%;
}


/* Description Content */
.description-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: var(--secondary-color);
}

.description-container img {
    max-height: 80px;
    width: auto;
    object-fit: cover;
    padding: 5px;
}

.description-container h2{
    color: var(--primary-color);
}

.text {
    padding: 20px;
    font-size: 50%;
    line-height: 1.6;
}

/* Lore Video Styling */
.video-section {
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
}

.video-section h2{
    border-bottom: 0 1px var(--accent-color);
    font-size: 22px;
}

.video-section p{
    color: var(--secondary-color);
    font-size: 12px;
}
  
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Timeline Styling*/
.timeline{
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: var(--secondary-color);
}

.timeline-component {
    margin: 0 20px 20px 20px;
}

.timeline-component-bg{
    padding: 1.5rem;
    background: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.timeline-component-bottom{
    margin-bottom: 0;
}

.timeline-date{
    color: var(--primary-color);
}

.timeline-date-right {
    text-align: right;
}

.timeline-middle{
    position: relative;
    background: var(--primary-color);
}

.timeline-point{
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    background: var(--accent-color);
    transform: translateX(-50%);
    border-radius: 50%;
}

.timeline-point-bottom{
    top: initial;
    bottom: 0;
}

.timeline-title{
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

.timeline-paragraph{
    line-height: 1.5;
    padding-top: 10px;
}

/* Footer Styling */
footer{
    background-color: var(--primary-color);
}

#social-networks{
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    list-style: none;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#social-networks i{
    font-size: 75%;
    padding: 5%;
    color: var(--secondary-color);
    margin: 0 10px;
}

#social-networks i:hover{
    transform: translateY(-2px);
}

#footer-navigation{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none; 
    padding: 5px 0;
}

#footer-navigation li a{
    color: var(--secondary-color);
    margin: 10px;
    font-size: 50%;
    text-decoration: none;
}

#footer-copyright{
    justify-content: center;
    display: flex;
    font-size: 40%;
    color: var(--secondary-color);
    background-color: var(--black);
    padding: 5px;
}

/* Media Queries */

@media (min-width: 320px) {
    /* Video Styling */
    .video-section {
      flex-direction: column; 
      align-items: flex-start;
    }
  
    .video-container {
      width: 100%; 
      margin-top: 20px; 
    }
}

/* Tablets And Larger (768px+) */
@media screen and (min-width: 768px){
    /* Header Styling */
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu{
        display: flex;
    }

    #menu > li{
        padding-left: 1rem;
    }

    .nav-toggle-label{
        display: none;
    }

    #logo{
        font-size: 100%;
        line-height: 75%;
        margin: 1rem;
    }

    /* Hero Content */
    #cover-text{
        width: 480px;
        right: 50px;
    }
    
    /* Video styling */
    .video-container {
        width: 100%; 
        margin-left: 0; 
        margin-top: 20px; 
    }
}

/* Laptops and Desktops (992px+) */
@media screen and (min-width: 992px){
    #menu a:hover{
        border-bottom: 1px solid var(--accent-color);
    }

    #sign-up:hover{
        background-color: var(--primary-color);
    }
}
