@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{

    /* Repeated Colors */
    --primary-color: #43484c;
    --secondary-color: #FFFFFF;
    --accent-color: #f06414;
    --secondary-accent-color: #218ffe;
    --black: #3a3a3a;
    --background-primary-colour: rgba(67, 72, 76, .6)
}

/* General Styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background: url('../images/hero-image.webp') no-repeat center; */
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: var(--secondary-color);
}



/* Header Styling */

header{
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 1px var(--black);
}

header a{
    text-decoration: none;
    color: var(--secondary-color);
    
}

#menu{
    font-size: 60%;
    letter-spacing: 4px;
    list-style-type: none;
    
}

#menu > li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid var(--accent-color);
}

.overwatch-two{
    color: var(--accent-color);
}

#sign-up{
    color: var(--secondary-color);
    border: 1px solid var(--accent-color);
    border-radius: 0px 5px;
}

/* Navbar And Dropdown Styling */
nav{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 1px var(--black);
    background-color: var(--primary-color);
}

/* Nav Toggle */
#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

/* Main Styling */
main{
    flex: 1 0 auto;
    margin-top: 38px;
    
}

/* Hero Section */
#hero{
    height: 350px;
    width: 100%;
    background:url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text{
    background-color: var(--background-primary-colour);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    padding-left: 10px;
    border-radius: 1%;
}

/* Footer Styling */
footer{
    background-color: var(--primary-color);
}

#social-networks{
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    list-style: none;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#social-networks i{
    font-size: 75%;
    padding: 5%;
    color: var(--secondary-color);
    margin: 0 10px;
}

#social-networks i:hover{
    transform: translateY(-2px);
}

#footer-navigation{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none; 
    padding: 5px 0;
}

#footer-navigation li a{
    color: var(--secondary-color);
    margin: 10px;
    font-size: 50%;
    text-decoration: none;
}

#footer-copyright{
    justify-content: center;
    display: flex;
    font-size: 40%;
    color: var(--secondary-color);
    background-color: var(--black);
    padding: 5px;
}

/* Media Queries */

/* Tablets And Larger (768px+) */
@media screen and (min-width: 768px){
    /* Header Styling */
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu{
        display: flex;
    }

    #menu > li{
        padding-left: 1rem;
    }

    .nav-toggle-label{
        display: none;
    }

    #logo{
        font-size: 100%;
        line-height: 75%;
        margin: 1rem;
    }

    /* Hero Content */
    #cover-text{
        width: 480px;
        right: 50px;
    }
}

/* Laptops and Desktops (992px+) */
@media screen and (min-width: 992px){
    #menu a:hover{
        border-bottom: 1px solid var(--accent-color);
    }

    #sign-up:hover{
        background-color: var(--primary-color);
    }

    
}
